<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sortowanie Wyrazów</title>
</head>
<body>
    <h1>Witaj w aplikacji Sortowanie Wyrazów</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Wgraj plik do sprawdzenia:</label>
        <input type="file" name="file" id="file">
        <button type="submit">Wyślij</button>
    </form>
</body>
</html>
